<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Percentage Calculator</title>
</head>
<body>
<form action="/data" method="get">
<label>Student Name</label>
<input type="text" name="name" placeholder="Enter Name"><br><br>

<label>First subject marks</label>
<input type="number" name="m1" placeholder="Enter First subject marks"><br><br>

<label>Second subject marks</label>
<input type="number" name="m2" placeholder="Enter Second subject marks"><br><br>

<label>Third subject marks</label>
<input type="number" name="m3" placeholder="Enter Third subject marks"><br><br>

<label>Fourth subject marks</label>
<input type="number" name="m4" placeholder="Enter Fourth subject marks"><br><br>

<label>Fifth subject marks</label>
<input type="number" name="m5" placeholder="Enter Fifth subject marks"><br><br>

<label>Calculate Percentage</label>
<input type="submit">
</form>

</body>
</html>